.glass-btn {
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    display: block;
    margin: 50px auto;
    padding: 25px 80px;
    background: #2c3e50;
    color: white;
    border-radius: 20px;
    letter-spacing: 2px;
    word-spacing: 5px;
    position: relative;
    border: none;
    outline: none;
    transition: all 0.3s;
  }
  
  .glass-btn:hover {
    border: none;
    outline: none;
    box-shadow: 0px 5px 60px #aaa;
    transform: translateY(-5px) scale(1.05);
  }
  
  .glass-btn:active {
    border: none;
    outline: none;
    box-shadow: none;
    transform: translateY(0) scale(0.95);
  }
  
  .glass-btn:after {
    content: "";
    border: 3px solid #34495e;
    border-radius: 10px;
    position : absolute;
    bottom: -15%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 40%;
    transition: all 0.3s;
  }
  
  .glass-btn:hover:after {
    width: 70%;
  }
  
  .glass-btn:active:after {
    width: 40%;
  }
  
  .glass-btn:before {
    content: "";
    position: absolute;
    border : 1px solid transparent;
    top: -15%;
    left: 10%;
    width: 0;
    border-radius: 40%;
    transform: translate3d(-50%, 0, 0);
  }
  
  .glass-btn:hover:before {
    border: 1px solid #34495e;
    animation: backforth 1s ease-in-out;
    animation-iteration-count: infinite;
  }
  
  .glass-btn:active:before {
   
  }
  
  @keyframes backforth {
    0% {
      left: 10%;
      width: 0;
    }
    25% {
      width: 50%;
    }
    50% {
      left: 90%;
      width: 0;
    }
    75% {
      width: 50%;
    }
    100% {
      left: 10%;
      width: 0;
    }
  }