.about-lkdn{
    position: absolute;
    bottom: 20px;
    right:20px
  }
  
  .about-hero-text{
    margin-bottom: 5vh;
    text-transform: uppercase;
    font-size: 4vh;
    line-height: 1;
    color: white
  }

  .about-hero-exp{
    margin-bottom: 5vh;
    text-transform: uppercase;
    font-size: 2.5vh;
    line-height: 1;
    color: white
  }
  .about-container canvas {
    z-index:10;
  }

  .heading {
    width: 50%;
    height: 80vh;
    overflow-x: hidden;
    color:white;
    position: absolute;
    left: 10%;
    top: 110vh;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
  }

  .linkedin{
    color: #8819DD;
  }