.bar-c {
    z-index: 3;
    overflow: hidden;
    height: 30px;
    width: 40px;
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }
  .bar {
    height: 2px;
    width: 1px;
    display: inline-block;
    background-color: white;
    bottom: 0;
    position: absolute;
    animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    -webkit-animation-play-state: running;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    animation-play-state: running;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .bar.noAnim {
    -webkit-animation: none;
    animation: none;
    -webkit-animation-name: none;
    animation-name: none;
  }
  .bar#bar-1 {
    left: 0;
    -webkit-animation-name: danceHeight1;
    animation-name: danceHeight1;
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
  }
  .bar#bar-2 {
    left: 6px;
    -webkit-animation-name: danceHeight2;
    animation-name: danceHeight2;
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
  }
  .bar#bar-3 {
    left: 12px;
    -webkit-animation-name: danceHeight3;
    animation-name: danceHeight3;
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
  }
  .bar#bar-4 {
    left: 18px;
    -webkit-animation-name: danceHeight4;
    animation-name: danceHeight4;
    -webkit-animation-delay: 900ms;
    animation-delay: 900ms;
  }
  .bar#bar-5 {
    left: 24px;
    -webkit-animation-name: danceHeight5;
    animation-name: danceHeight5;
    -webkit-animation-delay: 1200ms;
    animation-delay: 1200ms;
  }
  .bar#bar-6 {
    left: 30px;
    -webkit-animation-name: danceHeight6;
    animation-name: danceHeight6;
    -webkit-animation-delay: 1500ms;
    animation-delay: 1500ms;
  }
  @keyframes danceHeight1 {
    from {
      height: 1px;
    }
    to {
      height: 22px;
    }
  }
  @keyframes danceHeight2 {
    from {
      height: 1px;
    }
    to {
      height: 15px;
    }
  }
  @keyframes danceHeight3 {
    from {
      height: 1px;
    }
    to {
      height: 30px;
    }
  }
  @keyframes danceHeight4 {
    from {
      height: 1px;
    }
    to {
      height: 20px;
    }
  }
  @keyframes danceHeight5 {
    from {
      height: 1px;
    }
    to {
      height: 15px;
    }
  }
  @keyframes danceHeight6 {
    from {
      height: 1px;
    }
    to {
      height: 15px;
    }
  }
  